/* Side Nav Bar */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(75, 75, 75);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav ul {
  list-style-type: none;
}

.sidenav a:hover {
  color: #838383;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Hamburger */

.hamburgerBar {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px;
}

#hamburger {
  margin-right: 20px;
}

#header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* scrollable div */

.in-list {
  height: 100%;
  padding: 9px;
}

div ul.in-list {
  overflow-x: scroll;
}

div ul.in-list::-webkit-scrollbar {
  display: none;
}

/* anchor tags */
a {
  text-decoration: none;
}

/* show more */

.recent .show-more {
  display: none;
}

@media only screen and (min-width: 1024px) {
  #hamburger {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .row.feature {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
  }
  .row.feature h1 {
    font-size: 8.5vw;
  }
  nav#main {
    display: none;
  }
  .extra {
    display: none;
  }
  .recent .show-more {
    display: inline-block;
  }
}
